---
import "../styles/globals.css";
import { siteName } from "../lib/config";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="A toolkit for building job search services" />
    <title>{ siteName }</title>
  </head>
  <body>
    <slot />
  </body>
</html>
