---
import "../styles/globals.css";
import { siteName } from "../lib/config";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!--
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    -->
    <title>{ siteName }</title>
  </head>
  <body>
    <slot />
  </body>
</html>
