---
import Layout from "@/layouts/Layout.astro";
import { Nav } from "@/components/Nav.tsx";

const { user, activeOrg } = Astro.locals;
---

<Layout>
  <Nav
    client:load
    userType={user?.type ?? "guest"}
    activeOrg={activeOrg ? { name: activeOrg.name, slug: activeOrg.slug } : null}
  />

  <main class="flex flex-col items-center gap-4 w-full">
    <slot />
  </main>
</Layout>
