name: GitHub Actions

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  release:
    types:
      - published

permissions: {}

env:
  # On the build process, the credentials for OAuth can be dummy
  GOOGLE_CLIENT_ID: dummy
  GOOGLE_CLIENT_SECRET: dummy
  GITHUB_CLIENT_ID: dummy
  GITHUB_CLIENT_SECRET: dummy

jobs:
  test:
    name: test on Node.js v${{ matrix.node-version }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        node-version:
          - 22
          - 24
    env:
      SERVER_ENV: development
      MISE_NODE_VERSION: ${{ matrix.node-version }} # Override Node.js version over mise.toml
      DATABASE_URL: "postgresql://guildkit:guildkit@localhost:5432/guildkit?sslmode=disable"
      BETTER_AUTH_URL: "http://localhost:3000"
      # On the build process, the credentials can be dummy
      BETTER_AUTH_SECRET: dummy
    steps:
      - name: Remove Podman which does not work well on GitHub Actions
        run: sudo apt-get remove -y podman

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          install: true
          cache: true

      - run: mise build
      # TODO - run: mise test

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      SERVER_ENV: development
      DATABASE_URL: "postgresql://guildkit:guildkit@localhost:5432/guildkit?sslmode=disable"
      BETTER_AUTH_URL: "http://localhost:3000"
      # On the build process, the credentials can be dummy
      BETTER_AUTH_SECRET: dummy
    steps:
      - name: Remove Podman which does not work well on GitHub Actions
        run: sudo apt-get remove -y podman

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          install: true
          cache: true

      - run: mise lint

  publish:
    needs:
      - test
      - lint
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      NODE_ENV: production
      SERVER_ENV: production
    steps:
      - name: Remove Podman which does not work well on GitHub Actions
        run: sudo apt-get remove -y podman

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          install: true
          cache: true

      - run: mise build

      - name: Set npm auth token
        run: echo "//registry.npmjs.org/:_authToken=${{secrets.NPM_AUTH_TOKEN}}" > ~/.npmrc
      - run: mise release
